{{>header}}
<script src="./../public/assets/js/Chart.js"></script>
<div class="container-fluid page-body-wrapper">
  {{>sidebar}}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 grid-margin stretch-card mt-2">
          <div class="card">
            <div class="card-body">
              <div class="d-flex1 flex-wrap justify-content-between">
                <div>
                  <h4 class="card-title mb-3 text-primary pt-3 pl-2">Databases overview : <small class="text-danger font-weight-bold">Total number of database tables : {{total_database_tables}}</small></h4>
                </div>
                
                <div class="row mb-2">
                  <div class="col-3">
                    <select class="form-control"  id="table_name">
                      <option value="">Select Tablename</option>
                      {{#select selected_table_name}}
                      {{#each database_tables}}
                      <option value="{{table_name}}">{{table_name}} / {{total_rows}} / {{primary_key}}</option>
                      {{/each}}
                      {{/select}}
                    </select>
                  </div>
                  <div class="col-3">
                    <select class="form-control" id="primary_key">
                      <option value="">Select Primary Key</option>
                      {{#select selected_primary_key}}
                      {{#each database_tables}}
                      <option value="{{primary_key}}">{{primary_key}} / {{table_name}}</option>
                      {{/each}}
                      {{/select}}
                    </select>
                  </div>
                  <div class="col-2">
                    <select class="form-control" id="sort_by">
                      {{#select selected_sort_by}}
                      <option value="ASC">ASC</option>
                      <option value="DESC">DESC</option>
                      {{/select}}
                    </select>
                  </div>
                  <div class="col-3">
                    <input type="button" class="btn btn-primary btn-sm" value="Get Details" onclick="fnGetDatabaseDetails()" />
                    <a class="btn btn-primary btn-sm" href="/databases">Reset</a>
                  </div>
                </div>
                <div class="row">
                  {{#if selectedTableRowstructure}}
                  <div class="col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr class="bg bg-primary">
                            {{#each selectedTableRowstructure}}
                            <th class="text-white">{{column_name}}</th>
                            {{/each}}
                          </tr>
                        </thead>
                        <tbody>
                          {{#if selected_table_rows}}
                          {{#each selected_table_rows}}
                          <tr>
                            {{#each this}}
                            <td>
                              {{#if this}}
                              {{this}}
                              {{else}}
                              <span class="text-muted">NULL</span>
                              {{/if}}
                            </td>
                            {{/each}}
                          </tr>
                          {{/each}}
                          {{else}}
                          <tr>
                            <td colspan="{{total_columns}}" class="text-left text-muted">No data found</td>
                          </tr>
                          {{/if}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {{/if}}
                </div>
                <div class="text-info small font-weight-bold">http://localhost:3900/databases?tableName=item_section&pk=item_section_id&pk_id=1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
    <script>
      function fnGetDatabaseDetails() {
        let table_name = document.getElementById("table_name").value;
        let primary_key = document.getElementById("primary_key").value;
        let sort_by = document.getElementById("sort_by").value;
        window.location.href = `/databases?tableName=${table_name}&pk=${primary_key}&sort_by=${sort_by}`;
      }
    </script>
  </div>
</div>
</div>