{{>header}}
<script src="./../public/assets/js/Chart.js"></script>
<div class="container-fluid page-body-wrapper">
  {{>sidebar}}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 stretch-card1">
          <div class="card card-main">
            <div class="card-body">
              <div class="d-flex flex-wrap bg-primary justify-content-between mb-4">
                  <h4 class="card-title pt-3 pl-2 text-white">Databases overview</h4>
                  <small class="text-white font-weight-bold float-right pt-3 mr-2">Total number of database tables : {{total_database_tables}}</small>
              </div>
              <div class="d-flex1 flex-wrap justify-content-between">
                <div class="m-0 p-2 bg bg-primary">
                  <div class="row mb-2">
                    <div class="col-3 pt-1">
                      <select class="form-control"  id="table_name">
                        <option value="">Select Tablename</option>
                        {{#select selected_table_name}}
                        {{#each database_tables}}
                        <option value="{{table_name}}">{{table_name}} / {{total_rows}} / {{primary_key}}</option>
                        {{/each}}
                        {{/select}}
                      </select>
                    </div>
                    <div class="col-3 pt-1">
                      <select class="form-control" id="primary_key">
                        <option value="">Select Primary Key</option>
                        {{#select selected_primary_key}}
                        {{#each database_tables}}
                        <option value="{{primary_key}}">{{primary_key}} / {{table_name}}</option>
                        {{/each}}
                        {{/select}}
                      </select>
                    </div>
                    <div class="col-2 pt-1">
                      <select class="form-control" id="sort_by">
                        {{#select selected_sort_by}}
                        <option value="ASC">ASC</option>
                        <option value="DESC">DESC</option>
                        {{/select}}
                      </select>
                    </div>
                    <div class="col-3 pt-1">
                      <input type="button" class="btn btn-secondary btn-sm" value="Get Details" onclick="fnGetDatabaseDetails()" />
                      <a class="btn btn-secondary btn-sm" href="/databases">Reset</a>
                    </div>
                  </div>
                </div>
                

                <div class="row">
                  {{#if selectedTableRowstructure}}
                  <div class="col-12">
                    

                    <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr class="bg bg-primary">
                                  {{#each selectedTableRowstructure}}
                                  <th class="text-white">{{column_name}}</th>
                                  {{/each}}
                                </tr>
                              </thead>
                              <tbody>
                                {{#if selected_table_rows}}
                                {{#each selected_table_rows}}
                                <tr>
                                  {{#each this}}
                                  <td>
                                    {{#if this}}
                                    {{this}}
                                    {{else}}
                                    <span class="text-muted">NULL</span>
                                    {{/if}}
                                  </td>
                                  {{/each}}
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                  <td colspan="{{total_columns}}" class="text-left text-muted">No data found</td>
                                </tr>
                                {{/if}}
                              </tbody>
                            </table>
                          </div>

                  </div>
                  {{/if}}
                </div>
                <div class="text-secondary small font-weight-bold mt-5">/database_table?tableName=item_section&pk=item_section_id&pk_id=1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
    <script>
      function fnGetDatabaseDetails() {
        let table_name = document.getElementById("table_name").value;
        let primary_key = document.getElementById("primary_key").value;
        let sort_by = document.getElementById("sort_by").value;
        window.location.href = `/database_table?tableName=${table_name}&pk=${primary_key}&sort_by=${sort_by}`;
      }
    </script>
  </div>
</div>
</div>